In [1]:
!pip install mlxtend pandas

Requirement already satisfied: mlxtend in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (0.23.3)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (2.0.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from mlxtend) (3.7.5)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (6.4.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\hp\anaconda3\envs\myenv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=3.0.0->mlxtend) (3.20.2)

In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

data=pd.read_excel("C:\\Users\\HP\\OneDrive\\Desktop\\datascience\\Association Rules\\Association Rules\\Online retail.xlsx")
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   7501 non-null   object
 1   Unnamed: 1   5747 non-null   object
 2   Unnamed: 2   4389 non-null   object
 3   Unnamed: 3   3345 non-null   object
 4   Unnamed: 4   2529 non-null   object
 5   Unnamed: 5   1864 non-null   object
 6   Unnamed: 6   1369 non-null   object
 7   Unnamed: 7   981 non-null    object
 8   Unnamed: 8   654 non-null    object
 9   Unnamed: 9   395 non-null    object
 10  Unnamed: 10  256 non-null    object
 11  Unnamed: 11  154 non-null    object
 12  Unnamed: 12  87 non-null     object
 13  Unnamed: 13  47 non-null     object
 14  Unnamed: 14  25 non-null     object
 15  Unnamed: 15  8 non-null      object
 16  Unnamed: 16  4 non-null      object
 17  Unnamed: 17  4 non-null      object
 18  Unnamed: 18  3 non-null      object
 19  Unnamed: 19  1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [5]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 # Data Preprocessing

As the data is not in transaction formation We are using transaction Encoder

In [6]:
dummies_df=pd.get_dummies(data).astype(int)
dummies_df

,Unnamed: 0_almonds,Unnamed: 0_antioxydant juice,Unnamed: 0_asparagus,Unnamed: 0_avocado,Unnamed: 0_babies food,Unnamed: 0_bacon,Unnamed: 0_barbecue sauce,Unnamed: 0_black tea,Unnamed: 0_blueberries,Unnamed: 0_body spray,...,Unnamed: 16_antioxydant juice,Unnamed: 16_french fries,Unnamed: 16_frozen smoothie,Unnamed: 17_frozen smoothie,Unnamed: 17_protein bar,Unnamed: 17_spinach,Unnamed: 18_cereals,Unnamed: 18_mayonnaise,Unnamed: 18_spinach,Unnamed: 19_olive oil
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Association Rule Mining:

Apply the Apriori Algorithm

The apriori function generates frequent itemsets that have a minimum support level.

In [7]:
frequent_itemsets= apriori(dummies_df,min_support=0.005,use_colnames=True)
frequent_itemsets

      support                                          itemsets
0    0.007599                              (Unnamed: 0_avocado)
1    0.076790                              (Unnamed: 0_burgers)
2    0.006932                               (Unnamed: 0_butter)
3    0.013065                                 (Unnamed: 0_cake)
4    0.008532                            (Unnamed: 0_champagne)
..        ...                                               ...
216  0.007466    (Unnamed: 2_ground beef, Unnamed: 3_spaghetti)
217  0.007332       (Unnamed: 2_mineral water, Unnamed: 3_milk)
218  0.006133       (Unnamed: 2_mineral water, Unnamed: 3_soup)
219  0.012798  (Unnamed: 3_mineral water, Unnamed: 2_spaghetti)
220  0.008399  (Unnamed: 3_spaghetti, Unnamed: 4_mineral water)

[221 rows x 2 columns]

In [8]:
print(association_rules.__module__)
print(frequent_itemsets.head())
print(frequent_itemsets.dtypes)

mlxtend.frequent_patterns.association_rules
    support                itemsets
0  0.007599    (Unnamed: 0_avocado)
1  0.076790    (Unnamed: 0_burgers)
2  0.006932     (Unnamed: 0_butter)
3  0.013065       (Unnamed: 0_cake)
4  0.008532  (Unnamed: 0_champagne)
support     float64
itemsets     object
dtype: object

In [9]:
num_itemsets = frequent_itemsets.shape[0] 
num_itemsets

221

Set appropriate threshold for support, confidence and lift to extract meaning full rules.
this gives antecedents and consequents with lift metrics

In [10]:
rules = association_rules(frequent_itemsets, 
                          num_itemsets=num_itemsets, 
                          metric="lift", 
                          min_threshold=0)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Unnamed: 1_eggs),(Unnamed: 0_burgers),0.040261,0.076790,0.006799,0.168874,2.199176,1.0,0.003707,1.110795,0.568159,0.061669,0.099744,0.128708
1,(Unnamed: 0_burgers),(Unnamed: 1_eggs),0.076790,0.040261,0.006799,0.088542,2.199176,1.0,0.003707,1.052970,0.590639,0.061669,0.050306,0.128708
2,(Unnamed: 0_burgers),(Unnamed: 1_mineral water),0.076790,0.064525,0.005733,0.074653,1.156964,1.0,0.000778,1.010945,0.146953,0.042281,0.010827,0.081748
3,(Unnamed: 1_mineral water),(Unnamed: 0_burgers),0.064525,0.076790,0.005733,0.088843,1.156964,1.0,0.000778,1.013228,0.145027,0.042281,0.013056,0.081748
4,(Unnamed: 0_burgers),(Unnamed: 1_shrimp),0.076790,0.020397,0.005199,0.067708,3.319478,1.0,0.003633,1.050747,0.756868,0.056522,0.048296,0.161305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,(Unnamed: 3_soup),(Unnamed: 2_mineral water),0.009599,0.049993,0.006133,0.638889,12.779481,1.0,0.005653,2.630788,0.930683,0.114713,0.619886,0.380778
78,(Unnamed: 3_mineral water),(Unnamed: 2_spaghetti),0.026796,0.037195,0.012798,0.477612,12.840743,1.0,0.011802,1.843084,0.947513,0.250000,0.457431,0.410849
79,(Unnamed: 2_spaghetti),(Unnamed: 3_mineral water),0.037195,0.026796,0.012798,0.344086,12.840743,1.0,0.011802,1.483737,0.957746,0.250000,0.326026,0.410849
80,(Unnamed: 3_spaghetti),(Unnamed: 4_mineral water),0.022264,0.011199,0.008399,0.377246,33.687126,1.0,0.008150,1.587787,0.992410,0.335106,0.370193,0.563623
81,(Unnamed: 4_mineral water),(Unnamed: 3_spaghetti),0.011199,0.022264,0.008399,0.750000,33.687126,1.0,0.008150,3.910945,0.981304,0.335106,0.744307,0.563623

In [11]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Unnamed: 1_eggs),(Unnamed: 0_burgers),0.040261,0.076790,0.006799,0.168874,2.199176,1.0,0.003707,1.110795,0.568159,0.061669,0.099744,0.128708
1,(Unnamed: 0_burgers),(Unnamed: 1_eggs),0.076790,0.040261,0.006799,0.088542,2.199176,1.0,0.003707,1.052970,0.590639,0.061669,0.050306,0.128708
2,(Unnamed: 0_burgers),(Unnamed: 1_mineral water),0.076790,0.064525,0.005733,0.074653,1.156964,1.0,0.000778,1.010945,0.146953,0.042281,0.010827,0.081748
3,(Unnamed: 1_mineral water),(Unnamed: 0_burgers),0.064525,0.076790,0.005733,0.088843,1.156964,1.0,0.000778,1.013228,0.145027,0.042281,0.013056,0.081748
4,(Unnamed: 0_burgers),(Unnamed: 1_shrimp),0.076790,0.020397,0.005199,0.067708,3.319478,1.0,0.003633,1.050747,0.756868,0.056522,0.048296,0.161305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,(Unnamed: 3_soup),(Unnamed: 2_mineral water),0.009599,0.049993,0.006133,0.638889,12.779481,1.0,0.005653,2.630788,0.930683,0.114713,0.619886,0.380778
78,(Unnamed: 3_mineral water),(Unnamed: 2_spaghetti),0.026796,0.037195,0.012798,0.477612,12.840743,1.0,0.011802,1.843084,0.947513,0.250000,0.457431,0.410849
79,(Unnamed: 2_spaghetti),(Unnamed: 3_mineral water),0.037195,0.026796,0.012798,0.344086,12.840743,1.0,0.011802,1.483737,0.957746,0.250000,0.326026,0.410849
80,(Unnamed: 3_spaghetti),(Unnamed: 4_mineral water),0.022264,0.011199,0.008399,0.377246,33.687126,1.0,0.008150,1.587787,0.992410,0.335106,0.370193,0.563623
81,(Unnamed: 4_mineral water),(Unnamed: 3_spaghetti),0.011199,0.022264,0.008399,0.750000,33.687126,1.0,0.008150,3.910945,0.981304,0.335106,0.744307,0.563623

so here  all have lift metric is > 1 so we can say there are positively related


# Interview Questions:
# 1.What is lift and why is it important in Association rule

lift : measures the strength  of  association rule 

calculated by Lift(A → B)= Confidence(A → B)/Support(B)
                                                           
lift=1:A and B are independent

lift>1:A and B are positively related mean occuring more together than expected 

lift<1:A and B are negatively related mean occuring less together than expected 

Importance:

Lift helps identify meaningful and actionable associations.

which have strong lift value can be prioritize first


# 2.What is support and Confidence. How do you calculate them?

Support:

Indicates how frequently an itemset appears in the dataset.

Formula:support(A)= Transactions(A)/total transactions 

Purpose: Filters out infrequent items, ensuring rules are based on significant patterns.

Confidence:

Measures the likelihood that item B is purchased when item A is purchased.

Formula:Confidence(A → B)=Support(A ∩ B)/support A

Purpose: Evaluates the reliability of a rule. Higher confidence indicates stronger predictability.



# What are some limitations or challenges of Association rules mining?
High Dimensionality:
Large datasets with many items lead to an exponential increase in potential rules, making it computationally expensive.
Support-Confidence 

Tradeoff:
Rules with high confidence might have low support, making them less useful for practical applications.

Redundancy:
Many rules may overlap or convey similar information, complicating analysis.

Interpretability:
Too many rules can overwhelm users, making it hard to derive actionable insights.